
@font-face {
    font-family:"Cutefont R";
    src:url("CutefontR.woff2") format("woff2"),url("CutefontR.woff") format("woff"),url("CutefontR.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        