
@font-face {
    font-family:"NotoSansCJKkr-Black-2350";
    src:url("NotoSansCJKkr-Black-2350.woff2") format("woff2"),url("NotoSansCJKkr-Black-2350.woff") format("woff"),url("NotoSansCJKkr-Black-2350.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        