@font-face {
    font-family: 'Noto Sans CJK KR';
    src: url('./assets/fonts/NotoSansCJKkr-Regular-2350.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    src: url('./assets/fonts/NotoSansCJKkr-Medium-2350.woff') format('woff');
    font-weight: 500;
}
