@import 'reset';
@import 'fonts';

$base_font_size       : 14px; // px;
$base_line_height     : 22px; // px
$background_color: #FFF;
$text_color: #000;

body {
  font-size: $base_font_size;
  line-height: $base_line_height;
  transition: 0.4s background-color;
  background-color: $background_color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@mixin regular_type {
  font-family: "Noto Sans CJK KR", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height:1.3;
  font-style:   normal;
  font-weight: 400;
}

@mixin en_regular_type {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height:1.3;
  font-style:   normal;
  font-weight: 400;
}

@mixin en_black_type {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height:1.3;
  font-style:   normal;
  font-weight: 900;  
}

@mixin black_type {
  font-family: "Noto Sans CJK KR", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height:1.3;
  font-style:   normal;
  font-weight: 800;
}

textarea, input {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

::selection {
  background-color: #0049EC;
  color: #fff;
}


@mixin body_1280 {
  @media (max-width: 1280px) {
    @content;
  }
}


@mixin body_960 {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin body_600 {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin body_480 {
  @media (max-width: 480px) {
    @content;
  }
}



body, div, p, span, text {
  @include regular_type;
  color: $text_color;
}

.en-black {
  @include en_black_type;
}


.en-regular {
  @include en_regular_type;
}

.l-apple-box {
  height:20px;
}


.l-apple-box--half {
  height:15px;
}

.l-apple-box--double {
  height:40px;
}

.fl {
  float:left;
}

.fr {
  float:right;
}

a {
  color:$text_color;
  text-decoration: none;
  transition: 0.5s opacity;
}

a:hover {
  opacity: 0.5;
}

br.clearing {
  clear:both !important
}

sup {
  position: relative;
  font-size:0.7em;
  top: -0.5em;
}

.bold {
  font-weight: 800;
}

.header-collapsed {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 48px);
  padding: 17px 24px;
  background-color: white;
  border-bottom: 1px solid $text_color;

  &__flexwrap {
    display: flex;
    justify-content: space-between;
    align-content: center;  
  }

  &__left {
    display: flex;
  }

  &__categories {
    @include body_960 {
      margin-top: 10px;  
    }
  }
  
  h1 {
    @include black_type;
    width: 315px;
  }

  &__hamburger {
    display: none;

    @include body_960 {
      display: block;
    }

    @include body_600 {
     
    }

  }
}


.category-selector {
  display:flex;
  margin-bottom: 6px;

  &--selected {
    @extend .category-selector;
  }
  

  &__label-ko {
    @include black_type;
    min-width: 125px;
    margin-right: 10px;
  }


  &__label-ko-collapsed {
    @extend .category-selector__label-ko;
    min-width: auto;
  }

  &__label-en {
    @include en_regular_type;
    margin-right: 10px;
    margin-top: 1px;
  }
}
.dropdown-category-selector {
  position:fixed;
  top: 61px;
  left: 325px;
  padding: 10px 15px 13px;
  background-color: $background_color;
  border: 1px solid $text_color;
  border-top: none;
  border-radius: 0 0 2px 2px;
}

.header {
  display:flex;
  justify-content: space-between;
  align-content: flex-start;
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 48px);
  padding: 26px 24px;
  background-color: white;


  @include body_600 {
    display: block;
  }

  &__left {
    display:flex;
  }

  &__title {
    width: 420px;
  }

  h1 {
    @include black_type;

    @include body_600 {
      margin-bottom: 20px;
    }
  }

  &__hamburger {
    display: none;

    @include body_960 {
      display: block;
    }

    @include body_600 {
      position: fixed;
      right: 24px;
      top: 26px;
    }

  }

  &__categories {
    min-width: 240px;

    @include body_960 {
      display: none;
    }

  }

   

  &__description-area {
    width:300px;
  

    @include body_600 {
      width: auto;
    }

  }

    &__description {
      margin-bottom: 20px;
      &--ko {
        @extend .header__description;
        @include black_type;
        font-size:0.8em;
      }

      &--en {
        @extend .header__description;
        @include black_type;
        font-size:0.8em;
      }
    }

  &__menu {
    display:flex;
    
    @include body_600 {
      justify-content: space-between;
    }

    @include body_480 {
      display: block;
    }

    &--ko, &--en {
      @extend .header__menu;

      a { 
        @include black_type;
        font-size:0.8em;
        margin-right: 10px;
        padding-bottom: 2px;
        border-bottom: 1px dotted $text_color;
      }
    }
  }
}

.header-gutter {
  height: 150px;
}

.fonts-list {
  padding: 26px 24px;
}


.font-viewer {
  background-color: transparent;
  transition: 0.2s background-color;
  margin-bottom: 40px;

  &__flex-wrapper {
    display: flex;
    align-content: flex-start;
  }

  &--selected {
    @extend .font-viewer;
    // background-color: rgba(255, 255, 255, 0.1);
  }

  &__left {
    width: 210px;
  }

  h3 {
    font-size:0.8em;

    .ko {
      @include black_type;
    }
  }

  &__weight-area {
    margin-top: 10px;
  }

  &__weights {
    li {
      a {
        font-size:0.8em;
      }
    }
  }

  &__detail-left {
    width: 200px;
    padding-top: 20px;
  }

  &__detail-right {
    border-top: 2px solid $text_color;
    padding-top: 10px;
    
    display: flex;
    justify-content: space-between;
  }

    &__column {
      width: calc(50% - 20px);
      p {
        font-size: 0.8em;
      }
    }

}

.interaction-status-viewer {
  @include body_480 {
    margin-top: 10px;
  }
}

.font-selector-area {
  border-bottom: 1px solid $background_color;
  // margin: 0 2 0 0;
  padding-bottom: 20px;
}

.font-selector {
  padding: 8px;
  margin-right: 5px;
  width: 17px;
  text-align: center;
  display: inline-block;

  &--selected { 
    @extend .font-selector;
    background-color: $background_color;
    color: $text_color !important;
    border-radius: 3px;
  }
}


.dropdown-font-selector {

  position:relative;

  &__menu {
    position:absolute;
    width:270px;
    padding: 0;
    top: 40px;
    left: 0;
    background-color: $text_color;
    border: 1px solid $background_color;
    border-radius: 2px;
  }

  &__selected {
    display: flex;
    align-content: flex-start;
    margin-top: 15px;
    
    div {
      margin-right: 10px;
    }

    div:nth-child(3) {
      margin-right:0;
    }
  
  }


  &__list {
    display:flex;
    padding: 10px;

    &--selected {
      @extend .category-selector;
    }

    &__label-ko {
      @include black_type;
      min-width: 125px;
      margin-right: 10px;
    }

    &__label-en {
      @include en_regular_type;
      margin-right: 10px;
      margin-top: 1px;
    }

    &:hover {
      background-color: $background_color;
      opacity: 1;
      div {
        color: $text_color;
      }

    }
  }
  
  
}


.description {
  padding: 26px 24px;
  background-color: $text_color;

  div, a, p, h1, h2, h3, span {
    color: $background_color;
  }

  &__container {
    margin: 100px 0 0 210px;

    @include body_1280 {
      margin-left: 100px;
    }

    @include body_960 {
      margin-left: auto;
    }

  }

  p.description__big {
    padding: 20px;
    margin-left:-20px;
    font-size:1.7em;
    border: 1px dashed $background_color;
    width: 860px;

    @include body_1280 {
      width: 80%; 
    }

    @include body_960 {
      margin-left: 0;
      width: calc(100% - 40px);
    }

  }

  h4 {
    margin-bottom: 20px;
  }

  p {
    width: 590px;
    margin-bottom: 40px;
    line-height: 1.6;

    @include body_960 {
      width: 80%;
    }

    @include body_600 {
      width: 100%;
    }
  }

  p.right {
    width: auto;
  }

  
  &__column-container {
    display:flex;
    width: 100%;

    @include body_960 {
      display: block;
    }
  }

    &__column-left {
      width:590px;
      // margin-right: 150px;

      @include body_960 {
        width: 100%;
      }
    }

    &__column-right {
      width: calc(100% - 790px);
      min-width: 200px;
      display: block;

      @include body_1280 {
        width: auto;
      }

      @include body_960 {
        display: flex;
        justify-content: center;
        width: 80%;
      }
    }

    &__stat-wrap {
      @include body_960 {
        margin-right: 20px;
      }
    }




    &__big-numeric {
      font-size:2.5em;
      margin-bottom: 10px;
    }
}

.footer {
  margin: 0;
  padding: 26px 24px;
  border-top: 1px solid $background_color;
  background-color: $text_color;

  div, a, p{
    color: $background_color;
  }

  &__left {
    width: 210px;
  }

  h4 {
    @include black_type;
    font-size:0.8em;
  }

  p {
    font-size:0.8em;
  }

  &__flexwrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__google-fonts {
    width: 250px;
    
    @include body_1280 {
      width: 17.3%;
    }

  }

  &__short-desc {
    width: 420px;

    @include body_1280 {
      width: calc(29.1% - 20px);
      margin-right: 20px;
    }

    @include body_960 {
      width: calc(50% - 20px);
      margin-right: 40px;
    }


  }

  &__short-desc-column {
    width: 270px;

    @include body_960 { 
      width: auto;
    }

  }

  &__team {
    width: 310px;
    
    @include body_1280 {
      width: calc(21.5% - 20px);
      margin-right: 20px;
    }
  
    @include body_960 {
      width: calc(50% - 20px);
      margin-right:0;
    }
  }

  &__social {
    width: 150px;
    @include body_1280 {
      width: 21.5%;
    }

    @include body_960 {
      margin-top: 20px;
    }
  }
}
