@import 'reset';
@import 'fonts';

$base_font_size       : 14px; // px;
$base_line_height     : 20px; // px
$background_color: #000;
$white_color: #FFF;

body {
  font-size: $base_font_size;
  line-height: $base_line_height;
  transition: 0.4s background-color;
  background-color: $background_color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@mixin regular_type {
  font-family: "Noto Sans CJK KR", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height:1.3;
  font-style:   normal;
  font-weight: 400;
}

@mixin black_type {

  font-family: "Noto Sans CJK KR", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height:1.3;
  font-style:   normal;
  font-weight: 400;
}

::selection {
  background-color: #0049EC;
  color: #fff;
}

@mixin phone {
  @media (max-width: 413px) {
    @content;
  }
}

@mixin ipad_portrait {
  @media (max-width: 767px) {
    @content;
  }
}


@mixin ipad_landscape {
  @media (max-width: 1024px) {
    @content;
  }
}


@mixin desktop {
  @media (max-width: 1280px) {
    @content;
  }
}


@mixin s_desktop {
  @media (max-height: 1000px) {
    @content;
  }
}


body, div, p, span, text {
  @include regular_type;
  color: $white_color;
}

.l-apple-box {
  height:20px;
}


.l-apple-box--half {
  height:15px;
}

.l-apple-box--double {
  height:40px;
}

.fl {
  float:left;
}

.fr {
  float:right;
}

a {
  color:white;
  text-decoration: none;
  transition: 0.5s all;
}

a:hover {
  opacity: 0.5;
}

br.clearing {
  clear:both !important
}

sup {
  position: relative;
  font-size:0.7em;
  top: -0.5em;
}

.header {
  display:flex;
  justify-content: space-between;
  align-content: flex-start;
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 48px);
  padding: 26px 24px;

  h1 {
    @include black_type;
  }

  &__categories {
    min-width: 240px;
  }

    &__category {
      display:flex;

      &--selected {
        @extend .header__category;
      }
    }

      &__label-ko {
        min-width: 125px;
        margin-right: 10px;
      }

      &__label-en {
        
      }

  &__description-area {
    width:380px;
  }

    &__description {
      margin-bottom: 20px;
      &--ko {
        @extend .header__description;
      }

      &--en {
        @extend .header__description;
      }
    }
  &__menu {
    display:flex;
    justify-content: space-between;
    &--ko {
      @extend .header__menu;
    }

    &--en {
      @extend .header__menu;

    }
  }
}

.header-gutter {
  height: 150px;
}

.fonts-list {
  padding: 26px 24px;
}


.font-viewer {
  background-color: transparent;
  transition: 0.2s background-color;
  &--selected {
    @extend .font-viewer;
    background-color: rgba(255, 255, 255, 0.1);
  }

}

.description {
  padding: 26px 24px;
}

.footer {
  margin: 0;
  padding: 26px 24px;
  display: flex;

  &--black {
    @extend .footer;
    border-top: 1px solid white;
  }

  &--white {
    @extend .footer;
    border-top: 1px solid black;
  }

  &__google-fonts {
    width: 250px;
  }

  &__short-desc {
    width: 420px;
  }

  &__short-desc-column {
    width: 270px;
  }

  &__team {
    width: 310px;
  }
}


